* {
  margin: 0;
  padding: 0;
}
:root {
  --primary-color: #f44336;
}
body {
  background-color: #eee;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  text-align: center;
  padding: 20px;
  margin: 0 0 30px;
  background: #fff;
}
.guess-game {
  text-align: center;
  width: 1000px;
  margin: 20px auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  .game-area {
    .inputs {
      > div {
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        span {
          font-size: 30px;
          margin-right: 15px;
          font-weight: bold;
        }
      }
      .disabled-inputs {
        opacity: 0.5;
        pointer-events: none;
      }
      input {
        margin: 0 5px;
        width: 50px;
        height: 50px;
        text-align: center;
        font-size: 50px;
        caret-color: var(--primary-color);
        background: #fff;
        border: none;
        border-bottom: 3px solid #333;
        &:focus {
          outline-color: #ccc;
        }
        &.yes-in-place {
            background-color: #f89e13;
            border: #f89e13;
            color: #fff;
        }
        &.not-in-place {
            background-color: #18ba89;
            border: #18ba89;
            color: #fff;
        }
        &.no {
            background-color: #27303f;
            border: #27303f;
            color: #fff;
        }
      }
    }
    .control {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 440px;
      margin: 20px auto;
      gap: 10px;
      .check {
        background: var(--primary-color);
        flex: 1;
      }
      .hint {
        background-color: #009688;
        width: fit-content;
      }
      button {
        border: none;
        font-size: 25px;
        padding: 15px 20px;
        border-radius: 6px;
        color: #fff;
        cursor: pointer;
        font-weight: bold;
      }
      button:disabled {
        background: #000;
        opacity: 0.4;
        cursor: no-drop;
      }
    }
  }
  .key-colors {
    .key-color {
      display: flex;
      align-items: center;
      padding: 15px;
      background: #fff;
      margin-top: 10px;
      .key {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-right: 10px;
        &.in-place {
            background-color: #f89e13;
        }
        &.not-in-place {
            background-color: #18ba89;
        }
        &.no {
            background-color: #27303f;
        }
      }
      .key-text {
        font-size: 20;
        font-weight: bold;
      }
    }
  }
}
.message {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  span {
    font-weight: bold;
    display: block;
    font-size: 50px;
    color: var(--primary-color);
    text-transform: capitalize;
    margin-top: 10px;
  }
  p {
    margin-top: 15px;
  }
}
footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}